*{
    box-sizing: border-box;
    margin: 0;
}

div {
    font-family: 'Open Sans';
    padding: 20px;
}

.header{
    color: white;
    background-color: #004175;
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid #89DEEF;
    
}

.traits{
    flex-wrap: wrap;
}

.card{
    width: 33.3%;
}

img{
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;

    
}

.container{

    display: flex;
    flex-wrap: wrap;
}


il {background: #89DEEF;
    width: 100px;
    height: 100px;
    padding: 1px 5px 1px 5px;
    border-radius: 20px;

}
/* trying to fix .contianer. looking at grid vs flexbox. I think i need to fix picture size first */

